.header {
    display: flex;
    align-items: center;
}

.header a {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.header .logo {
    max-height: 90px;
}

.header .title-group {
    padding-left: 25px;
    align-items: center;
}

.header .title-group i {
    padding-right: 5px;
    
}